@import "../vars.less";
body {
  font-family: 'Jost', sans-serif;
}
.module-18 {
  padding: 30px;
}
.module-18 .tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.module-18 .site-content {
  max-width: 1200px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
}
.module-18 .site-content .table th.product-remove {
  vertical-align: middle;
  width: 40px;
}
.module-18 .site-content .table th.product-thumbnail {
  width: 80px;
}
.module-18 .site-content .table th.product-name {
  background-color: #f8f8f8;
  font-weight: 500;
  color: #111;
  font-size: 16px;
  border: none;
  padding: 0.5rem 1.5rem;
}
.module-18 .site-content .table th.product-price {
  background-color: #f8f8f8;
  font-weight: 500;
  color: #111;
  font-size: 16px;
  padding: 15px;
  border: none;
}
.module-18 .site-content .table th.product-stock-status {
  background-color: #f8f8f8;
  font-weight: 500;
  color: #111;
  font-size: 16px;
  padding: 15px;
  border: none;
}
.module-18 .site-content .table th.product-add-to-cart {
  background-color: #f8f8f8;
  font-weight: 500;
  color: #111;
  font-size: 16px;
  padding: 15px;
  border: none;
}
.module-18 .site-content .table td.product-remove {
  padding: 36px 20px;
}
.module-18 .site-content .table td.product-remove a {
  font-size: 24px;
  color: #555 !important;
  width: 24px;
  height: 24px;
  line-height: 25px;
  display: block;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}
.module-18 .site-content .table td.product-thumbnail {
  width: 80px;
  margin: 20px;
}
.module-18 .site-content .table td.product-thumbnail a {
  max-width: 97px;
  margin: auto;
}
.module-18 .site-content .table td.product-name {
  width: 35%;
  padding: 0.5rem 1.5rem;
}
.module-18 .site-content .table td.product-name a {
  color: #111;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  justify-content: center;
}
.module-18 .site-content .table td.product-price {
  color: #767676;
  font-size: 15px;
  font-weight: 500;
}
.module-18 .site-content .table td.product-stock-status {
  font-weight: 500;
  color: #679900;
}
.module-18 .site-content .table td.product-add-to-cart {
  padding-right: 0;
  text-align: right;
  width: 20%;
  border: none;
  padding: 20px;
}
.module-18 .site-content .table td.product-add-to-cart a {
  display: inline-block !important;
  text-align: center;
  position: relative;
  transition: none;
  font-weight: 500;
  font-size: 16px;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
}
