@import "../vars.less";
body {
  font-family: 'Jost', sans-serif;
}
.module-15 {
  padding: 20px;
}
.module-15 .nav-link {
  border: none;
  font-weight: 500;
  padding: 10px 20px;
  margin-bottom: 0 !important;
  display: block;
  margin: 0;
  color: #111;
}
.module-15 .nav-link.active {
  transition: .5s;
  color: #ff6f61;
  border-bottom: 1px solid #ff6f61;
}
.module-15 .tab-content {
  max-width: 790px;
  padding: 0 15px;
  margin: 45px auto 0 auto;
}
.module-15 .submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0 37px;
  text-align: center;
  transition: ease .3s;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
